<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<!-- Navbar -->
<nav class="white">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo grey-text text-darken-3">Mi Sitio</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/" class="grey-text text-darken-2">Inicio</a></li>
            <li><a href="/about" class="grey-text text-darken-2">Acerca de</a></li>
            <li><a href="/contact" class="grey-text text-darken-2">Contacto</a></li>
            <li><a href="/games" class="grey-text text-darken-2">Videojuegos</a></li>
            <li><a href="/admin" class="grey-text text-darken-2">Admin</a></li>
        </ul>
    </div>
</nav>

<!-- Header Section -->
<div class="hero-section grey lighten-4">
    <div class="container center-align">
        <h1 class="grey-text text-darken-3">Sobre Nosotros</h1>
        <p class="flow-text grey-text text-darken-1">Conoce nuestra historia y valores</p>
    </div>
</div>

<!-- Content Section -->
<div class="container section">
    <!-- Misión -->
    <div class="row">
        <div class="col s12">
            <div class="card-panel grey lighten-5">
                <h5 class="grey-text text-darken-3">
                    <i class="material-icons left">flag</i>
                    Nuestra Misión
                </h5>
                <p class="grey-text text-darken-1">
                    Proporcionar soluciones web innovadoras y accesibles que ayuden a empresas y
                    particulares a alcanzar sus objetivos digitales con elegancia y simplicidad.
                </p>
            </div>
        </div>
    </div>

    <!-- Valores -->
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="center-align">
                <i class="material-icons large grey-text text-darken-2">lightbulb</i>
                <h6 class="grey-text text-darken-3">Innovación</h6>
                <p class="grey-text">Soluciones creativas y modernas</p>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="center-align">
                <i class="material-icons large grey-text text-darken-2">verified</i>
                <h6 class="grey-text text-darken-3">Calidad</h6>
                <p class="grey-text">Excelencia en cada detalle</p>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="center-align">
                <i class="material-icons large grey-text text-darken-2">speed</i>
                <h6 class="grey-text text-darken-3">Eficiencia</h6>
                <p class="grey-text">Rapidez y rendimiento óptimo</p>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="center-align">
                <i class="material-icons large grey-text text-darken-2">support_agent</i>
                <h6 class="grey-text text-darken-3">Soporte</h6>
                <p class="grey-text">Atención personalizada</p>
            </div>
        </div>
    </div>

    <!-- Call to Action -->
    <div class="row">
        <div class="col s12 center-align">
            <h5 class="grey-text text-darken-2">¿Listo para comenzar?</h5>
            <a href="/contact" class="btn-large grey darken-2 waves-effect waves-light">
                Contáctanos
                <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer white">
    <div class="footer-copyright">
        <div class="container center-align grey-text text-darken-2">
            2026 Mi Sitio Express
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>